{% extends 'layout.html' %}

{% block body %}

<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h2 class="mt-4">{{yapbitir.title}}</h2>

      <!-- Author -->
      <p class="lead">
        by
        {{yapbitir.author.username}}
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{yapbitir.created_date}}</p>
      <p>{{yapbitir.dateline}}</p>

      <hr>

      <!-- Preview Image 
      {% if yapbitir.article_image %}
      <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
    
      {% endif %}
      -->
      
      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{yapbitir.content|safe}}
      </p>
      <hr>
    

{% endblock body %}