
{% extends "layout.html" %}

{% block body %}


<div class ="jumbotron text-center" style= "margin-top:200px;">
    <h1>YapBitirApp e Hoşgeldiniz...</h1>
    <p style="color: darkgoldenrod;">Bu uygulama yapılacaklar listelerinizi daha düzenli bir hale getirmenizi ve dolayısıyla işlerinizi daha hızlı bitirmenizi sağlar. Kayıt olarak, kendi listlerinizi oluşturabilirsiniz. Keyifli YapBitir' ler... </p>
</div>

<p>
        {% if request.user.is_authenticated %}
            Giriş yapıldı... Hoş geldiniz, <strong>{{request.user.username}} </strong>
        {% else %}
            Giriş Yapılmadı!
        {% endif %}

</p>


<div class ="jumbotron text-center" style= "margin-top:200px;">
    <p style="color: darkgoldenrod;">"Zaman kendi hızında ilerler ve herkes için farklıdır."</p>
</div>
{% endblock %}
