
{% extends "layout.html" %}

{% block body %}

<p>
    {% if request.user.is_authenticated %}
        <h2>Selam, <strong>{{request.user.username}} </strong> hadi YapBitir listeleri bitir.</h2>
    {% else %}
           <div class ="jumbotron text-center" style= "margin-top:110px;">
             <h1>YapBitirApp e Hoşgeldiniz...</h1>
             <p style="color: darkgoldenrod;">Bu uygulama yapılacaklar listelerinizi daha düzenli bir hale getirmenizi ve dolayısıyla işlerinizi daha hızlı bitirmenizi sağlar. Kayıt olarak, kendi listlerinizi oluşturabilirsiniz. Keyifli YapBitir' ler... </p>
           </div>  

           <h3>Giriş Yapılmadı!</h3>
    {% endif %}



<div class ="jumbotron text-center" style= "margin-top:200px;">
    <p style="color: darkgoldenrod;">"Zaman kendi hızında ilerler ve herkes için farklıdır."</p>
</div>
{% endblock %}
