{% extends "layout.html" %}


{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
   <div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
        <h3>Listeler</h3>
        <hr>
        </div>
    </div>
   </div>

<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <form>
                 {% csrf_token %} 
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Ara...">
              <button type="submit" class="btn btn-danger">Ara</button>
            </form>
      </div>
    </div>

</div>
{% if yapbitirs %}
{% for yapbitir in yapbitirs %}
<div class="row">
   <div class="col-md-10 offset-md-3">
    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
    <a style="color: crimson;" href="{% url 'yapbitir:detail' yapbitir.id %}" ><h2 class="mt-4">{{yapbitir.title}}</h2></a>

      <!-- Author -->
      <p class="lead">
        
        <a style="color: chocolate;" href="{% url 'yapbitir:detail' yapbitir.id %}" >{{yapbitir.author.username}}</a> tarafından yayınlandı.
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{yapbitir.created_date}}</p>

      <hr>

      <p>{{yapbitir.dateline}}</p>
      <!-- Preview Image
      {% if article.article_image %}
      <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
    
      {% endif %}

      
      <hr>
       -->
      <!-- Post Content  -->
      <p class="lead">
          {{yapbitir.content|safe|truncatewords:2}}
      </p>
      <a style="float: right;" href="{% url 'yapbitir:detail' yapbitir.id %}" class = "btn btn-outline-dark">Devamını Oku</a>
      <hr>
     
        </div>
      </div>
  </div>

{% endfor %}
{% else %}
<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class= "alert alert-danger">
    Liste Bulunamadı!
</div>
</div>
</div>
</div>
</div>
</div>
{% endif %}
{% endblock body %}